In [2]:
from pandas.api.types import CategoricalDtype
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time 
import pandas as pd
from pprint import pprint
import csv

In [24]:
# California Population data by county (web scrapping)
# setting up splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://worldpopulationreview.com/us-counties/states/ca'
browser.visit(url)

table = pd.read_html(url)
county_population = table[0]

# saving the datafile as a csv file
county_population.to_csv('./data/county_population2021_data.csv', index = False)
county_population.head()

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Get LATEST driver version for 93.0.4577
Trying to download new driver from https://chromedriver.storage.googleapis.com/93.0.4577.63/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\tsube\.wdm\drivers\chromedriver\win32\93.0.4577.63]

                    Name  2021 Population Growth Since 2010  Density (mi²)
0     Los Angeles County          9969510             1.49%       13488.85
1       San Diego County          3347270             7.86%        4528.89
2          Orange County          3175130             5.31%        4295.98
3       Riverside County          2520060            14.47%        3409.67
4  San Bernardino County          2206750             8.13%        2985.76

In [509]:
county_population = pd.read_csv("./data/county_population2021_data.csv")

# create datafile containing only the columns of interest

county_population = pd.DataFrame(county_population, columns= ['Name', '2021 Population', 'Density (mi²)'])

population = county_population['2021 Population']
county_name = list(county_population['Name'])
density = county_population['Density (mi²)']

In [510]:
# cleaning county names (removed the last part containing "County" to make it identical with other datafiles for relation)
county = []
for i in county_name:
    i = i[:-7]
    county.append(i)

county_population = pd.DataFrame({'county': county, 'population': population, 'density': density})

# save the cleaned data as csv 
county_population.to_csv('./data/county_population.csv', index = False)
county_population.head()

           county  population   density
0     Los Angeles     9969510  13488.85
1       San Diego     3347270   4528.89
2          Orange     3175130   4295.98
3       Riverside     2520060   3409.67
4  San Bernardino     2206750   2985.76

In [448]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://en.wikipedia.org/wiki/List_of_counties_in_California#List'
browser.visit(url)

table = pd.read_html(url)
county_fips = table[1]

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\tsube\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [508]:
county_fips_data = pd.DataFrame(county_fips)
county_fips_data.head()

      county  fips
0    Alameda     1
1     Alpine     3
2     Amador     5
3      Butte     7
4  Calaveras     9

In [483]:
county_fips.to_csv('./data/county_fips_originaldata.csv', index = False)

In [507]:
county_names = list(county_fips_data['County'].astype(str))
FIPS = list(county_fips_data['FIPS code[5]'].astype(int))

d = {'county': county_names, 'FIPS': FIPS}
county_fips = pd.DataFrame(d)

county_fips.to_csv('./data/county_fips.csv', index = False)
county_fips = pd.read_csv('./data/county_fips.csv')

# print(county_name)
county=[]
for i in county_names:
    i = i[:-7]
    county.append(i)

county_fips = pd.DataFrame({'county': county, 'fips': FIPS})
county_fips = county_fips.replace('San Fr', 'San Francisco') # since there was inconsistent data value and is updated 
county_fips.to_csv('./data/county_fips.csv', index = False)
county_fips.head()

      county  fips
0    Alameda     1
1     Alpine     3
2     Amador     5
3      Butte     7
4  Calaveras     9

In [519]:
county_pop_fips = pd.merge(county_population, county_fips, on = 'county', how = 'left')
county_pop_fips = pd.DataFrame(county_pop_fips, columns=['fips', 'population', 'density'])

county_pop_fips= county_pop_fips.sort_values(by = 'fips', ascending = True)
# county_pop_fips = county_pop_fips.reset_index()

county_pop_fips.to_csv('./data/county_pop.csv', index = False)

county_pop_fips.head()

    fips  population  density
6      1     1680480  2273.71
57     3        1209     1.64
45     5       40446    54.72
28     7      196880   266.38
43     9       46319    62.67

In [23]:
# California county vaccination data

csv_data = pd.read_csv("./data/statewide_covid_19_vaccination_by_county.csv", encoding = 'utf8')
csv_data.head()

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag
0,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
1,Alameda,2020-07-28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2,Alameda,2020-07-29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
3,Alameda,2020-07-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
4,Alameda,2020-07-31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN

In [29]:
# Selecting only the residence county as reported in the data (elemination method is used)
ca_vaccin_data = csv_data.query('county !="All CA Counties"')
ca_vaccin_data = ca_vaccin_data.query('county !="All CA and Non-CA Counties"')
ca_vaccin_data = ca_vaccin_data.query('county !="Outside California"')
ca_vaccin_data = ca_vaccin_data.query('county !="Unknown"')
ca_vaccin_data = ca_vaccin_data.query('county !="California"')
# getting new dataframe for total vaccination (fully, partially vaccinated) by counties

county_vac_data = pd.DataFrame(ca_vaccin_data, columns = ['county', 'administered_date',\
                                                     'partially_vaccinated', 'fully_vaccinated'])
                                       
county_vac_data['month'] = pd.DatetimeIndex(county_vac_data['administered_date']).month_name()

# Creating a new dataframe with months as variable to be utilized for ploting by months
county_vac_data_cleaned = pd.DataFrame(county_vac_data, columns=['county', 'month','administered_date','fully_vaccinated','partially_vaccinated'])

county_vac_data_cleaned.to_csv('./data/county_vac_data_cleaned.csv', index = False)
county_vac_data_cleaned

,county,month,administered_date,fully_vaccinated,partially_vaccinated
0,Alameda,July,2020-07-27,0,0
1,Alameda,July,2020-07-28,0,0
2,Alameda,July,2020-07-29,0,0
3,Alameda,July,2020-07-30,0,0
4,Alameda,July,2020-07-31,0,0
...,...,...,...,...,...
25725,Yuba,September,2021-09-13,124,65
25726,Yuba,September,2021-09-14,137,74
25727,Yuba,September,2021-09-15,140,81
25728,Yuba,September,2021-09-16,104,44
25729,Yuba,September,2021-09-17,53,27

In [18]:
# California COVID-19 cases and tests by county 

cases_data = pd.read_csv("./data/statewide_covid_19_cases_by_county.csv", encoding = 'utf8')

cases_data = cases_data.query('area !="All CA Counties"')
cases_data = cases_data.query('area !="All CA and Non-CA Counties"')
cases_data = cases_data.query('area !="Outside California"')
cases_data = cases_data.query('area !="Unknown"')
cases_data = cases_data.query('area !="California"')
cases_data = cases_data.query('area_type =="County"')
cases_data = cases_data.dropna()
cases_data

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests
94,2020-05-05,Alameda,County,1685886.0,59.0,2222.0,1.0,75.0,1228.0,30087,65.0,1925,57.0,1819.0,2.0,67.0,618.0
95,2020-05-06,Alameda,County,1685886.0,43.0,2265.0,2.0,77.0,1305.0,31392,78.0,2003,45.0,1864.0,0.0,67.0,1120.0
96,2020-05-07,Alameda,County,1685886.0,37.0,2302.0,1.0,78.0,1339.0,32731,38.0,2041,50.0,1914.0,1.0,68.0,1031.0
97,2020-05-08,Alameda,County,1685886.0,60.0,2362.0,2.0,80.0,1787.0,34518,83.0,2124,41.0,1955.0,2.0,70.0,1194.0
98,2020-05-09,Alameda,County,1685886.0,43.0,2405.0,1.0,81.0,553.0,35071,18.0,2142,56.0,2011.0,1.0,71.0,1301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36349,2021-09-12,Yuba,County,79290.0,20.0,8929.0,0.0,49.0,125.0,99799,23.0,10227,29.0,8842.0,0.0,61.0,344.0
36350,2021-09-13,Yuba,County,79290.0,29.0,8958.0,0.0,49.0,314.0,100113,33.0,10260,42.0,8884.0,0.0,61.0,361.0
36351,2021-09-14,Yuba,County,79290.0,40.0,8998.0,0.0,49.0,460.0,100573,52.0,10312,44.0,8928.0,0.0,61.0,305.0
36352,2021-09-15,Yuba,County,79290.0,13.0,9011.0,0.0,49.0,122.0,100695,18.0,10330,25.0,8953.0,0.0,61.0,244.0
36353,2021-09-16,Yuba,County,79290.0,6.0,9017.0,0.0,49.0,70.0,100765,8.0,10338,28.0,8981.0,0.0,61.0,325.0

In [21]:
# Creating 'month' as a new variable based on the date

cases_data['month'] = pd.DatetimeIndex(cases_data['date']).month_name()

# Datafiles for cases and tests are separated into two relating with the common variable 'area'
county_cases_data = pd.DataFrame(cases_data, columns=['date','area', 'month','cases','deaths'])
county_tests_data = pd.DataFrame(cases_data, columns=['date','area', 'total_tests', 'positive_tests'])

# Datafile 'cases' saved as csv
county_cases_data.to_csv('./data/county_cases_data.csv', index = False)
county_cases_data.head()

          date     area month  cases  deaths
94  2020-05-05  Alameda   May   59.0     1.0
95  2020-05-06  Alameda   May   43.0     2.0
96  2020-05-07  Alameda   May   37.0     1.0
97  2020-05-08  Alameda   May   60.0     2.0
98  2020-05-09  Alameda   May   43.0     1.0

In [22]:
# Datafile 'tests' saved as csv

county_tests_data.to_csv('./data/county_tests_data.csv', index = False)
county_tests_data.head()

          date     area  total_tests  positive_tests
94  2020-05-05  Alameda       1228.0            65.0
95  2020-05-06  Alameda       1305.0            78.0
96  2020-05-07  Alameda       1339.0            38.0
97  2020-05-08  Alameda       1787.0            83.0
98  2020-05-09  Alameda        553.0            18.0

In [33]:
browser.quit()